@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #fdd08b;
    background-image: url('../foto/background/Background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    background-attachment: fixed ;
}

.navmenu {
    margin-top: 0;
    background-color: #0f1c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar {
    display: flex;
}

.navigation {
    position: static;
    text-decoration: none;
    color : #ffffff;
    cursor: pointer;
    margin-right: 50px;
    justify-content: space-between;
}

.navigation:hover {
    transition: 0.3s;
    color: #ffa723fa;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.flex-container space-between {
    justify-content: space-between;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    text-align: center;
}

.form-container {
    margin: auto;
    margin-top: 10%;
    padding: 45px;
    background-color: #0f1c3b;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    text-align: center;
}

label {
    margin-top: 10px;
    color: #ffa723fa;
    font-size: 20px;
    font-weight: 100;
}

input {
    height: 40px;
    width: 400px;
    background-color: #fdd08b;
    border-radius: 7px;
    border: 1px solid #ffa723fa;
    outline: none;

}

.product-category-container {
    margin-top: 20px;
}


.product-specification-container {
    margin-top: 20px;
}

.product-price-container {
    margin-top: 20px;
}

.edit_button{
    background-color: #fdd08b;
    color: #0f1c3b;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid #ffa723fa;
    transition: 0.3s;
}

.edit-button-container {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.edit_button:hover {
    text-decoration: underline;
    transform: scale(110%);
}

.edit_button:active {
    background-color: #5eaf5f;
    text-decoration: none;
    transform: scale(112%);
}

.edit_button > a{
    text-decoration: none;
    color: #0f1c3b;
}

.edit_button > a:hover{
    text-decoration: underline;
}
